body{
    margin: 0;
    padding:0;
}

.play-area{
   width: 50%;
   min-height: 500px;
   margin: auto;
   position: relative;
   border:3px solid gold;
   text-align: center;
   background-color: gold;
}
#point , #time{
    display:inline ;
}
button{
    background-color:darkgrey ;
    color:aliceblue;
    margin:5px 5px;
    border: 1px solid darkgray;
     
}